<?xml version='1.0' encoding='utf-8'?>
<plugin id="LocalNotificationsPlugin" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>LocalNotifications</name>
    <js-module name="LocalNotifications" src="www/localnotifications.js">
        <clobbers target="cordova.plugins.localnotifications" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="LocalNotifications">
                <param name="android-package" value="com.outsystems.localnotifications.LocalNotifications" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
            <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver
            android:name="com.outsystems.localnotifications.LocalNotifications$NotificationReceiver"
            android:exported="true" />
        </config-file>
        <source-file src="src/android/LocalNotifications.java" target-dir="src/com/outsystems/localnotifications" />
    </platform>
    <platform name="ios">
        <dependency id="cordova-plugin-add-swift-support" url="https://github.com/os-adv-dev/cordova-plugin-add-swift-support.git" />
        <config-file parent="/*" target="config.xml">
            <feature name="LocalNotifications">
                <param name="ios-package" value="LocalNotifications" />
            </feature>
        </config-file>
        <source-file src="src/ios/LocalNotifications.swift" />
    </platform>
</plugin>